.chipEnabled{
  margin: 20px 5px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  background: #524fa1;
  color: white;
  cursor: pointer;
  width: 70px;
  height: 40px;
}

.chipDisabled{
  margin: 20px 5px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  background: lightgrey;
  color: #222222;
  cursor: pointer;
  width: 70px;
  height: 40px;
}