.courseContainer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  column-gap: 16px;
  row-gap: 16px;
}

.noResult{
  height: 500px;
  text-align: center;
  line-height: 500px;
  width: 100%;
}