.Page{
  border: none;
  color: #999999;
  background: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.currPage{
  border: none;
  color: white;
  background: #524fa1;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 20px;
}
.disabledArrow{
  border: none;
  color: #cccccc;
  background: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.Arrow{
  border:none;
  color: #222222;
  background: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.pagination{
  text-align: center;
  margin: 32px;
}

